img{
    position: relative;
}
.result{
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
}


#file_input{
    display: none;
}


.delete{
    width: 100px;
    height:100px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    z-index: 10;
    font-size: 30px;
    background-color: rgba(255,255,255,0.8);
    color: #777;
    opacity: 0;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}


.delete:hover{
    cursor: pointer;
    opacity: 1;
}
.uploadImgBtn {
    width: 100px;
    height: 100px;
    float: right;
    cursor: pointer;
    position: relative;
    background: url("../images/plus.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.uploadImgBtn .uploadImg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/*这是一个用做回显的盒子的样式*/
.pic {
    float: left;
    width: 100px;
    height: 100px;
}

.pic img {
    width: 100%;
    height: 100%;
}